# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

# Because we inlude first the bsp layer we hope to 
# overwrite the mender class

BBLAYERS ?= " \
  ##OEROOT##/meta-mainline/meta-multi-v7-ml-mender-bsp \
  ##OEROOT##/meta \
  ##OEROOT##/meta-poky \
  ##OEROOT##/meta-yocto-bsp \
  ##OEROOT##/meta-mender/meta-mender-core \
  ##OEROOT##/my-mender-layer \
  "
